html{
    background-color: rgb(33, 31, 46);
    font-family: 'Source Code Pro', monospace;
    color: aliceblue;
}

header{
    width: 100%;
    border-radius: 0.3em;
    background-color: rgb(52, 45, 66);
    font-size: 2em;
    text-decoration: none;
}

/* Box Styling */


.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    grid-template-rows: 40rem;
    
}

.card{
    background-color: aliceblue;
    z-index: -1;
    border: 0.1rem solid rgb(185, 185, 185) ;
    border-width: 0rem 0.1rem;
    grid-column: 1 / 6;
    grid-row: 1/2;
}
.upbox{
    margin-top: 20%;
}

.downbox{
    margin-bottom: 20%;
}
    /* IDs */
    #one {
        grid-column:1;
    }
    #two {
        grid-column:2;
    }
    #three {
        grid-column:3;
    }
    #four {
        grid-column:4;
    }
    #five {
        grid-column:5;
    }
    #six {
        grid-column:6;
    }
    /* IDs End */

.text {
    font-size: 2rem;
    color: black;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    align-self: center;
    text-align: center;
}
    /* Text IDs */
    #ena {
        margin-bottom: 10%;
    }
    #dyo {
        margin-top: 10%;
    }

    /* Text IDs End */

/* Box Styling End */
.gif{
    width: 100%;
    position: fixed;
    z-index: -1;

}

/* Other Stuff */
.aboutmebulletpts{
    list-style-type: none;
    text-transform: uppercase;
}

.buzzwords{
    text-transform: uppercase;
}

.link{
    color: rgb(210, 101, 231);
}

footer{
    position: relative;

}


